
<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<style>
h3, h4 {text-align: center;}
span {font-weight: bold;}
</style>

<script>
	$(document).on("change", '[id$=-select]', function() 
	{
		$.getJSON('/_setSchedule/'.concat(this.id), {val: this.value});
	});     

	{% for t in thermostats %}
		// enable or disable the thermostat
		$(document).on("change", '#{{t.hw_id}}enable', function() 
		{
			var v = $('#{{t.hw_id}}enable').val();
			$.getJSON('/_setstate/{{t.hw_id}}', {state: v});
		});     

		// thermostat range
		$(document).on("change", '#{{t.hw_id}}range', function() 
		{
			$.getJSON('/_settemperature/{{t.hw_id}}', {val: $('#{{t.hw_id}}range').val()});
		});     

	{% endfor %}

	//poll the sensors every second
	$(function sensor()
	{
		{% for t in thermostats %}
			$.getJSON('/_sensor/{{t.hw_id}}', function(data)
			{
				//the active indicator...
				if (data.active == "on") {
					$("#{{t.hw_id}}indicator").attr("class", "heating-on");
				} else {
					$("#{{t.hw_id}}indicator").attr("class", "heating-off");
				}
				//the enable button
				$("#{{t.hw_id}}enable").val(data.enabled).slider('refresh')
				
				//the measured temperature
				$("#{{t.hw_id}}measured").text(data.measured);
				
				//the desired temperature
				$("#{{t.hw_id}}range").val(data.desired);
				$("#{{t.hw_id}}range").change();
			});
		{% endfor %}
//		setTimeout(function(){sensor();}, 500);
	});


	//load a new room
	function goto_room(url)
	{
		window.location.href = url;
	}
</script>
<!-- Simple JQuery Mobile page that display the button state on the breadoard -->
<!-- You can also change the LED state with the slider switch -->
<!-- The Raspberry Pi uptime is displayed in the footer (Jinja2 expands the template tag) -->
<body>
		<div data-role="page"  data-theme="b">

			<!-- The menu at the left side -->
			<div data-role="panel" id="menu">
			  {% for mi in rooms %}
				<a id="/{{ mi.name }}" class="ui-btn ui-btn-inline ui-corner-all ui-shadow" onclick="return goto_room(this.id)">{{ mi.name }}</a>
			  {% endfor %}
			</div>
			
			<div data-role="header">
				<a href="#menu" class="ui-btn ui-icon-bars ui-btn-icon-left">menu</a>
				<h3>algemene instellingen</h3>
			</div>
			
			<div data-role="content">
				<form>
					<table>
						<tr>
							<th>dag</th><th>van</th><th>tot</th><th>van</th><th>tot</th>
						</tr>
						{% for s in schedule %}
						<tr>
							<!-- day -->
							<td>{{s.day}}</td>
							<!-- am : on -->
							<td><select id="{{s.day}}-am-on-select">
								{% for h in range(0, 23) %}
									{%for m in range (0, 50, 10) %}
										<option value="{{'%02d:%02d'|format(h,m)}}" 
											{{'selected' if s.amHeatingOn.strftime('%H:%M') == '%02d:%02d'|format(h,m) }} >
											{{'%02d:%02d'|format(h,m)}}</option>
									{% endfor %}
								{% endfor %}
							</select></td>
							<!-- am : off -->
							<td><select id="{{s.day}}-am-off-select">
								{% for h in range(0, 23) %}
									{%for m in range (0, 50, 10) %}
										<option value="{{'%02d:%02d'|format(h,m)}}" 
											{{'selected' if s.amHeatingOff.strftime('%H:%M') == '%02d:%02d'|format(h,m) }} >
											{{'%02d:%02d'|format(h,m)}}</option>
									{% endfor %}
								{% endfor %}
							</select></td>
							<!-- pm : on -->
							<td><select id="{{s.day}}-pm-on-select">
								{% for h in range(0, 23) %}
									{%for m in range (0, 50, 10) %}
										<option value="{{'%02d:%02d'|format(h,m)}}" 
											{{'selected' if s.pmHeatingOn.strftime('%H:%M') == '%02d:%02d'|format(h,m) }} >
											{{'%02d:%02d'|format(h,m)}}</option>
									{% endfor %}
								{% endfor %}
							</select></td>
							<!-- pm : off -->
							<td><select id="{{s.day}}-pm-off-select">
								{% for h in range(0, 23) %}
									{%for m in range (0, 50, 10) %}
										<option value="{{'%02d:%02d'|format(h,m)}}" 
											{{'selected' if s.pmHeatingOff.strftime('%H:%M') == '%02d:%02d'|format(h,m) }} >
											{{'%02d:%02d'|format(h,m)}}</option>
									{% endfor %}
								{% endfor %}
							</select></td>
						</tr>
						{% endfor %}
						<tr>
						</tr>
					</table>
				</form>
			</div>
			<div data-role="footer">
				<div><h4>The ha is {{uptime}}</h4></div>
			</div>
		</div>

</body>
